﻿<h2>
  Classes List
  <a class="btn btn-success" onclick="Class.ShowClassInfo()"> New Class</a>
</h2>

<div id="ClassListTable"></div>

<div class="modal" id="modal-classinfo" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn pull-right" data-dismiss="modal" perm="Close">x</button>
        <h5 class="modal-title">Class Info</h5>
      </div>
      <div class="modal-body">
        <form id="ClassInfo" class="form">

          <div class="form-group col-md-4">
            <label class="col-form-label">Class Name :</label>
            <input id="className" name="className" type="text" class="form-control">
          </div>

          <div class="form-group col-md-4">
            <label class="col-form-label">Location :</label>
            <input id="location" name="location" type="text" class="form-control">
          </div>

          <div class="form-group col-md-4">
            <label class="col-form-label">Teacher Name :</label>
            <input id="teacherName" name="teacherName" type="text" class="form-control">
          </div>

        </form>

        <div class="col-md-12 Pad_10" style="text-align:right;">
          <button onclick="Class.Insert()" class="btn btn-primary" style="display:inline-block">Insert</button>
          <button onclick="Class.Update()" class="btn btn-success" style="display:inline-block">Update</button>
        </div>

        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>

<br />

<div id="DIV_StudentList" style="display:none;">
  <h2>
    Students List <a class="btn btn-success" onclick="Student.ShowStudentInfo()"> New Student</a>
  </h2>

  <div id="StudentListTable"></div>

  <div class="modal" id="modal-studentinfo" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn pull-right" data-dismiss="modal" perm="Close">x</button>
          <h5 class="modal-title">Student Info</h5>
        </div>
        <div class="modal-body">
          <form id="StudentInfo" class="form">

            <div class="form-group col-md-4">
              <label class="col-form-label">Student Name :</label>
              <input id="studentName" name="studentName" type="text" class="form-control">
            </div>

            <div class="form-group col-md-4">
              <label class="col-form-label">Age :</label>
              <input id="age" name="age" type="text" class="form-control">
            </div>

            <div class="form-group col-md-4">
              <label class="col-form-label">GPA :</label>
              <input id="gpa" name="gpa" type="text" class="form-control">
            </div>

          </form>

          <div class="col-md-12 Pad_10" style="text-align:right;">
            <button onclick="Student.Insert()" class="btn btn-primary" style="display:inline-block">Insert</button>
            <button onclick="Student.Update()" class="btn btn-success" style="display:inline-block">Update</button>
          </div>

          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/HomeController.js"></script>
<script src="/js/StudentsController.js"></script>