﻿<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>School Classes</title>

  <script src="~/lib/jquery/dist/jquery.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/js/Plugins.js"></script>
  <script src="~/js/bootstrap-notify.js.js"></script>

  <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
  <link href="/lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
  <link href="/css/site.css" rel="stylesheet" />

</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">School Classes</a>
      </div>
    </div>
  </nav>

  <partial name="_CookieConsentPartial" />

  <div class="container body-content">
    @RenderBody()
    <footer>
      <p>&copy; 2019 - School Classes</p>
    </footer>
  </div>

  @RenderSection("Scripts", required: false)
</body>
</html>
