﻿body { padding-top: 50px; padding-bottom: 20px; }
.body-content { padding-left: 15px; padding-right: 15px; }

.MTable { font-size: 14px; width: 100%; background: #FFF; margin: 2px 0px; border: 1px solid rgba(34,36,38,0.15); border-top: 2px solid rgb(68, 78, 95); border-bottom: 2px solid rgb(68, 78, 95); border-radius: 0px; text-align: center; color: rgb(0,0,0); border-collapse: separate; border-spacing: 0; font-family: webyekan,webyekannumber; line-height: 20px; }
    .MTable thead th { padding: 5px 0px; border-bottom: 1px solid rgba(34, 36, 38, 0.09); border-radius: 0px 0px 0px 0px; background: rgb(228, 228, 228); text-align: center; }
    .MTable tbody tr { padding: 1px; }
        .MTable tbody tr:nth-child(2n+1) { }
        .MTable tbody tr td:first-child { border-left: 2px solid rgba(33, 133, 208,0.0); }
        .MTable tbody tr td:last-child { border-right: 2px solid rgba(33, 133, 208,0.0); }
.MTableLtr tbody tr td:first-child { border-right: 2px solid rgba(33, 133, 208,0.0); }
.MTableLtr tbody tr td:last-child { border-left: 2px solid rgba(33, 133, 208,0.0); }
.MTableRtl tbody tr td:first-child { border-right: 2px solid rgba(33, 133, 208,0.0); }
.MTableRtl tbody tr td:last-child { border-left: 2px solid rgba(33, 133, 208,0.0); }
.MTable tbody tr:hover td { background-color: rgba(34, 36, 38, 0.17) !important; }
.MTable tbody tr:nth-child(2n) td { background-color: rgb(250, 250, 250); }
.MTable tfoot td { padding: 0px 5px; font-weight: 700; border-top: 1px solid rgba(34,36,38,0.09); border-radius: 0px 0px 0px 0px; background: rgb(237,237,237); }
.MTable .Pager { margin: 2px; font-size: 0px; line-height: 0px; }
    .MTable .Pager .PagerCell { float: left; font-family: webyekan,webyekannumber,"Open Sans"; padding: 8px 14px; font-size: 14px; line-height: 20px; border-radius: 4px; display: inline-block; font-weight: 400; cursor: pointer; text-decoration: none; transition: all 0.15s ease; display: inline-block; position: relative; vertical-align: middle; text-decoration: none; margin: 0px 2px; }
    .MTable .Pager li { display: inline-block; }
    .MTable .Pager .PagerCell:hover { color: #000; background-color: rgb(236, 242, 248); }
    .MTable .Pager .PagerCell:active { color: #000; background-color: rgba(33, 133, 208,0.3); box-shadow: inset 0px 0px 4px rgba(33, 133, 208,0.5); }
    .MTable .Pager .Active { background-color: rgb(33, 133, 208); color: #ffffff; }
.MTable .PagerSize { border: none; width: 45px; background-color: transparent; float: right; font-family: webyekan,webyekannumber,"Open Sans"; font-size: 14px; height: 34px; }
.MTable .PagerSizeCaption { display: inline-block; padding-right: 5px; float: right; line-height: 34px; }
